<tr>
  <td><%= request.body %></td>
  <% request.key_words.each do |key_word| %>
    <td><%= key_word.body %></td>
  <% end %>
  <td><%= link_to 'Show', request_path(request) %></td>
  <td><%= request.responses.count %></td>
</tr>