<h1> All requests</h1>
<table>
  <tr>
    <th>Body</th>
    <th>Key words</th>
    <th>Action</th>
    <th>Responses amount</th>
  </tr>
  <% @requests.each do |request| %>
    <%= render 'request', request: request %>
  <% end %>
</table>

<p><%= link_to 'New Request', new_request_path %></p>